.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffd733;
    padding: 1.5em 1.5em;
    font-family:  "Roboto", sans-serif;
    font-size: 0.9em;
    font-color: #ff5733;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}


.social img {
    width: 30px;
    height: 30px;
    margin: 0 1em;
    border-radius: 80%;
}
