.header {
    grid-area: hd;
    display: flex;
    align items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ffd733;
    padding: 1.5em 1.5em;
    font-family:  "Roboto", sans-serif;
    font-size: 0.9em;
    font-color: #ff5733;
}

.container {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.nav ul {
	margin: 1em 0.5em;
	text-align: center;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: .5em 1.5em;
}

.logo {
    width: 10em;
    height: 10em;
}


.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffd733;
    list-style-type: none;
    height: 60px;
    margin: 0px;
    padding: 0px;
}


.navbar-items {
    font-family:  "Roboto", sans-serif;
    font-size: 0.5em;
    color: #ff5733;
}

img {
	max-width: 100%;
	height: auto;
}
