.header {
    grid-area: hd;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffd733;
    padding: 1.5em 1.5em;
    font-family:  "Roboto", sans-serif;
    font-size: 0.9em;
    font-color: #ff5733;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 960px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.nav ul {
    margin: 1em 0.5em;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em 1.5em;
}

.logo {
    width: auto;
    height: auto;
}

img {
    width: auto;
    height: auto;
}
