.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffd733;
    padding: 1.5em 1.5em;
    font-family:  "Roboto", sans-serif;
    font-size: 0.9em;
    font-color: #ff5733;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: auto;
    margin: auto;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.logo {
    width: 3em;
    height: 3em;
    margin: 0 1em;
}

