@import "header.css";
@import "footer.css";
@import "body.css";

* {
    margin: 0;
    padding: 0;
}

h1  {
    font-family: "Roboto", sans-serif;
    color: #2F4F4F
}

h2  {
    text-align: center;
    margin-bottom: 4em;
    font-family: "Roboto", sans-serif;
    color: #2F4F4F
}

h3  {
    font-family: "Roboto", sans-serif;
    color: #2F4F4F
}
.img {
    width: 15em;
    height: 15em;
}
