@import url “header.css”;
@import url “body.css”;
@import url “footer.css”;

* {
    margin: 0;
    padding: 0;
}

h1  {
    color: #2F4F4F
}

h2  {
    text-align: center;
    margin-bottom: 4em;
    font-size: auto;
    color: #2F4F4F
}

h3  {
    color: #2F4F4F
}
